server {
    listen 80;
    server_name ${NGINX_HOST};  # Or use ${NGINX_HOST}
    root /usr/share/nginx/html;

    location / {
        index index.html;
        try_files $uri $uri/ /index.html;
    }
}
